/* Outer page container */
a {
    cursor: pointer;
}

/* Tree containers */
#tree {
    width: 100%;
    height: 100%;
    background-color: #333;
}

#treeContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 500px;
}

.selected rect {
    stroke: #f55;
    stroke-width: 4px;
}

/* Sidebar and info box styles. */

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background: #eee;
    overflow-x: hidden;
}

#infoBox {
    padding: 18px;
    background-color: #fff;
    box-shadow: 0 1px 10px #ccc;
    position: absolute;
}

/* Feed-related elements */
#feedContainer {
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    top: 0;
    padding-top: 140px;
}

#feedInner {
    padding: 18px;
    width: 500px;
}

/* Tweet content styles */
.text {
    white-space: pre-wrap;
}

.text a.twitter-atreply s {
    text-decoration: none;
}

.text .Emoji, .text .twitter-hashflag-container img {
    height: 1.25em;
    vertical-align: -0.3em;
}

.text .u-hidden {
    display: none;
}

.text b {
    font-weight: normal;
}

.u-hiddenVisually {
    display: none;
}

.dropzone {
    padding: 10px;
    border: 1px dashed #aaf;
    background-color: #f4f4f4;
    text-align: center;
    color: #888;
}

.rtl {
    text-align: right;
    direction: rtl;
    unicode-bidi: embed;
}