/* Outer page container */
#page {
    min-width: 800px;
    min-height: 600px;
}

/* Tree containers */
#tree {
    width: 100%;
    height: 100%;
    background-color: #333;
}

#treeContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 500px;
}

/* Sidebar and info box styles. */

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background: #eee;
    overflow-x: hidden;
    /*overflow-y: scroll;*/
}

#infoBox {
    padding: 18px;
    background-color: #fff;
    box-shadow: 0 1px 10px #ccc;
    height: 100px;
    
    /*position: absolute;*/
}

/* Feed-related elements */
#feedContainer {
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    top: 100px;
    /*position:*/ 
}

#feedInner {
    padding: 18px;
    /* position: absolute; */
    /* bottom: 0; */
    
}

/* Tweet content styles */
.text {
    white-space: pre-wrap;
}

.text a.twitter-atreply s {
    text-decoration: none;
}

.text .Emoji {
    height: 1.25em;
    vertical-align: -0.3em;
}

.text .u-hidden {
    display: none;
}

.text b {
    font-weight: normal;
}