#tree {
    width: 100%;
    height: 100%;
}

#treeContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 500px;
}

#feedContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background: #eee;
}

#page {
    min-width: 800px;
    min-height: 600px;
}

.text a.twitter-atreply s {
    text-decoration: none;
}

.text .Emoji {
    height: 1.25em;
    vertical-align: -0.3em;
}

.text .u-hidden {
    display: none;
}